.form {

    @include section;

    h2 {

      @include h2;

    }

    form{

        @include flexContener(column, flex-start, center);

        label{

            @include flexContener(row, space-between, center);

            position: relative;
            width: 100%;
            padding: 10px 2px;
            box-sizing: border-box;

            .text{
                width: 30%;
            }

            input {

                &[type="text"],
                &[type="email"],
                &[type="number"] {
                    @include input(70%);
                    text-align: left;
                }

            }

            .message{
                position: absolute;
                left: 31%;
                bottom: 0;
                padding: 0 0.6rem;
                font-size: 0.8rem;
                background-color: getColor("white");
                z-index: 2;
                box-sizing: border-box;
            }

            &.checkbox{
                justify-content: start;
                flex-direction: row-reverse;

                .text{
                    width: auto;
                }

                input {
                    max-width: 20px;
                    padding-right: 10px;
                }

                .message{

                    left: 0;
                    bottom: 0;
                    margin-bottom: -1rem;
                    background: none;

                }
            }

            &:hover {
                background-color: getColor("gray");
            }

            &.incorrect{

                input {

                    &[type="text"],
                    &[type="email"],
                    &[type="number"] {

                        border: 1px solid getColor("red");

                    }

                }

                .text,
                .message{

                    color: getColor("red");

                }

            }

            

        }

        .bottom_bar {

            @include bottom_bar;

        }

    }

}