.list {
  @include section;
  h2 {
    @include h2;
  }
  ul {
    padding: 0;
    li {
      @include flexContener(row, space-between, center);
      padding: 5px 2px;
      border-bottom: 1px solid getColor("gray");
      list-style: none;
      text-align: left;
      &:hover {
        background-color: getColor("gray");
      }
      @media (max-width: getWindowWidth(2)) {
        flex-wrap: wrap;
      }
      div{
        margin: 10px 0;
        box-sizing: border-box;
      }
      .name {
        width: 40%;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: 500;
        @media (max-width: getWindowWidth(1)) {
          width: 35%;
        }
        @media (max-width: getWindowWidth(2)) {
          width: 100%;
        }
      }
      .price {
        width: 30%;
        padding-right: 10px;
        strong {
          color: getColor("red");
        }
        @media (max-width: getWindowWidth(1)) {
          width: 25%;
        }
        @media (max-width: getWindowWidth(2)) {
          width: 50%;
        }
      }
      .options {
        input {
          @include input(3rem);
          text-align: center;
        }
        button {
          @include button(1rem);
        }
      }
    
    }
  }
  .bottom_bar {
    @include bottom_bar;
  }
}
