.preLoader{

    @include flexContener(row, center, center);
    position: fixed;
    top: 0;
    left:0;
	height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(
        to top,
        getColor("white"),
        getColor("white"),
        getColor("gray")
    );
    z-index: 99;

    .animate{

        height: 6rem;
	    width: 6rem;

        div{

            width: 3rem;
            height: 3rem;
            margin-right: auto;
            margin-left: auto;
            background-color: getColor("red");
            -webkit-animation: animate 2s infinite ease-in-out;
            animation: animate 2s infinite ease-in-out;
            
            @-webkit-keyframes animate {

                0% { -webkit-transform: perspective(160px); }
                50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
                100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }

            }
            
            @keyframes animate {

                0% { 
                    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
                    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg); 
                } 50% { 
                    transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
                    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
                } 100% { 
                    transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
                    -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
                }

            }
            
        }

     }
    
}




	
