* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: getColor("dark_gray");
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
