@import "fonts";
@import "config";
@import "reset";
@import "header";
@import "preload";
@import "popup";
@import "list";
@import "delivery";
@import "form";
@import "footer";


html{
    font-size: 16px;
    @media (max-width: getWindowWidth(1)) {
      font-size: 14px;
    }
    @media (max-width: getWindowWidth(2)) {
      font-size: 12px;
    }
  }
  body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    background: linear-gradient(
      to top,
      getColor("white"),
      getColor("white"),
      getColor("gray")
    );
    
  }
  
  app-root {
    @include flexContener(column, flex-start, center);
    width: 100%;
    min-height: 100vh;
  }