<li>
    <div class="name">{{productData.name}}</div>
    <div class="price">
        {{texts?.price}}: <strong>{{productData.price  | number:'1.2-2'  }}</strong>
        {{texts?.currency}}
    </div>
    <div class="options">
        {{texts?.quantity}} :
        <input type="number" [value]="productData.quantity" (change)="change(productData.id, '', $event.target.value)"
            (focusout)="validation(productData.id)" />
        <button (click)="change(productData.id, '+', 1); validation(productData.id)">
            +
        </button>
        <button (click)="change(productData.id, '-', 1); validation(productData.id)">
            -
        </button>
        <button (click)="delete(productData.id)">{{texts?.buttons?.delete}}</button>
    </div>
</li>