
<app-preload [active]="mainData.preload.active"></app-preload>

<app-popup 
    [active]="mainData.popup.active"
    [message]="mainData.popup.message" 
    [texts]="mainData.isLoaded ? texts?.popup : defaultTexts.popup"
    [activeButton]="mainData.popup.activeButton" 
    (closeEmitter)="handlePopup($event)"
></app-popup>

<ng-container *ngIf="mainData.isLoaded">

    <app-header 
        [title]="texts?.header?.title" 
        [step]="mainData.header.step" 
        (StepEmitter)="switchSteps($event)"
    ></app-header>

    <app-list 
        [active]="mainData.list.active" 
        [texts]="texts?.list" 
        [listPrice]="mainData.final.listPrice"
        (IsLoadedEmitter)="dataIsLoaded()" 
        (StepEmitter)="switchSteps($event)" 
        (PopupEmitter)="popup($event)"
        (ProductsEmitter)="setProductsToFinal($event)"
    ></app-list>

    <app-delivery
        [active]="mainData.delivery.active" 
        [texts]="texts?.delivery" 
        [toPay]="mainData.final.toPay"
        (IsLoadedEmitter)="dataIsLoaded()" 
        (StepEmitter)="switchSteps($event)" 
        (PopupEmitter)="popup($event)"
        (DeliveriesEmitter)="setDeliveriesToFinal($event)"
    ></app-delivery>

    <app-form
        [active]="mainData.form.active" 
        [texts]="texts?.form" 
        [toPay]="mainData.final.toPay"
        (StepEmitter)="switchSteps($event)" 
        (PopupEmitter)="popup($event)"
        (SendEmitter)="saveData($event)"
    ></app-form>

    <app-footer></app-footer>

</ng-container>
