<ng-container *ngIf="active">
    <section class="delivery">
    <h2>{{texts?.title}}</h2>
    <ul>
        <app-option  
            *ngFor="let option of deliveries" 
            [texts]="texts" 
            [optionData]="option"
            (selectEmitter)="handleSelect($event)" 
        ></app-option >
    </ul>
    <div class="bottom_bar">

      <div>
        {{ texts?.toPay}} : 
        <strong>{{toPay | number:'1.2-2' }}</strong>
        {{texts?.currency}}
      </div>

      <div>

        <button (click)="switchSteps(1)">
            {{texts?.buttons.back}}
        </button>

        <button class="active" (click)="switchSteps(3)">
            {{texts?.buttons.next}}
        </button>

      </div>

    </div>
  </section>
</ng-container>
